<%- include("../partials/headerNaoLogado.ejs") %> 
<body>
    <div class="container">
    <h1> <%= title %> </h1>
    <hr>
    <form method="POST" action="/usuarios/login">
      <input type="hidden" name="id">
        <div class="mb-3">
            <label class="form-label">Login:</label>
            <input required type="text" class="form-control" name="login">
          </div>
          <div class="mb-3">
            <label class="form-label">Senha:</label>
            <input required type="password" class="form-control" name="senha">
          </div>
          <button type="submit" class="btn btn-success">Entrar</button>
    </form>
    <label style="color: red;"><%= msg %> </label>

    <script src="/js/bootstrap.bundle.js"></script>
</div>
</body>
</html>